* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows:1fr 3fr ;
    
}

.header {
    margin-top: 25px;
    grid-area: 1 / 2 / 2 / 3 ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 10px 3px rgb(20, 19, 19);
}

.searchbar-and-avatar {
    display: flex;
    flex-direction: row wrap;
    justify-content: space-around;
    gap: 50px;
    margin-bottom: 25px;
}

.searchbar {
    display: flex;
    align-items: center;
    gap: 10px;
  
}
.searchbar input[type="text"] {
    flex: 1;
    min-width: 500px;
    font-size: 14px;
    padding: 5px;
    border: none;
    background-color: rgb(211, 203, 203);
    border-radius: 8px;
}

.searchbar button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
   
}
.searchbar .image {
    width: 20px;
}

.avatar {
    display: flex;
    align-items: center;
    gap: 25px;
}

.avatar .image {
    width: 20px;
}

.avatar img {
    width: 30px;
    height: 30px;
    border-radius:50%;
}

.avatar span {
    font-weight: 600;
}


.welcome-profile-and-interaction-button {
display: flex;
flex-flow: row wrap;
justify-content: space-between;
margin-bottom: 25px;

}

.welcome-profile {
    display: flex;
    align-items: end;
    gap: 15px;
    padding-left: 45px;
}

.welcome-text {
    display: flex;
    flex-direction: column;
}

.welcome-text > p:nth-child(1) {
    font-size: 12px;
    font-weight: 600;
}
.welcome-text > p + p {
    font-size: 1.2rem;
    font-weight: 900;
}


.welcome-profile-and-interaction-button div > img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.interaction-button {
    display: flex;
    flex-direction: row wrap;
    align-items: end;
    gap: 20px;
    padding-right: 45px;

}

.interaction-button button {
    font-size: 15px;
    padding: 7px;
    border-radius: 25px;
    width: 100px;
    cursor: pointer;
    background-color: #99f6e4;
    box-shadow: 2px 2px 2px rgb(111, 105, 105)
}

.interaction-button button:hover {
    background-color: black;
    color: #99f6e4;
}

.interaction-button button:active {
    opacity: .7;
}

.main-content {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: rgb(211, 203, 203);
    box-shadow: inset 0px 8px 6px 0px rgba(115,115,115,0.92);
}

.project {
    margin: 25px 0 25px 15px;
}

.project > h3 {
    margin-bottom: 10px;
}

.project .card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px,1fr));
    gap: 15px;
}

.card {
    height: 200px;
    border-left: 10px solid #4d7c0f;
    border-radius:12px ;
    padding-left: 15px;
    padding-top: 30px;
    padding-right: 15px;
    position: relative;
    background-color: white;
    box-shadow: 2px 2px 3px rgb(180, 178, 178);
}

.card p {
    font-size: 13px;
    color: rgb(100, 97, 97);
    text-align: start;
}

.card-button {
    display: flex;
    gap: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.card button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.card .image {
    width: 18px;
}

.announcement {
    margin-left: 15px;
    margin-top: 35px;
    margin-right: 25px;
}


.announcement h4 {
    padding-bottom:5px ;
}

.announcement-content-container {
    background-color: white;
    border-radius: 5px;
    padding: 12px 0;
    box-shadow: 2px 2px 3px rgb(180, 178, 178);
}
.announcement-content {
  padding: 15px 19px 15px 15px;
}

.announcement-content h5 + p {
    font-size: .7rem;
}

hr {
    margin: 0 15px;
}

.trending {
    margin-top: 5px;
}

.trending h4 {
    padding: 25px 0 5px 15px;
}

.trending-container {
    background-color: white;
    margin: 0 25px 0 15px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 15px;
    border-radius: 7px;
    box-shadow: 2px 2px 3px rgb(180, 178, 178);
}

.user {
    display: flex;
    gap: 12px;
}

.image-holder img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
 
}

.user div + div {
    display: flex;
    flex-direction: column;
}

.user div span:first-child {
    font-size: .8rem;
    font-weight:700;

}

.user div + div p{
    font-size: .7rem;
    color: rgb(74, 70, 70);
}


.sidebar {
    padding-top: 15px;
    padding-left: 15px;
    grid-area: 1 / 1 / 3 / 2;
    background-color:#99f6e4;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.branding-logo a{
    text-decoration: none;
    color: black;
    display: inline-flex;
    align-items: center;
    gap: 12px;
}

.branding-logo .image{
    width: 45px;
    color: white;
}

.branding-logo span {
    
    font-family: "Roboto", sans-serif;
    font-weight: 1.5rem;
    font-weight: 600;
}

.main-buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.main-buttons > div a {
    text-decoration: none;
    color: black;
    display: inline-flex;
    align-items: center;
    gap: 12px;
}

.main-buttons .image {
    width: 30px;
   
}

.main-buttons > div span {
    font-weight: 1.1rem;
    font-weight: 600;
}

.help-button {
    display: flex;
    flex-direction: column;
    gap: 8px;
}



.help-button > div a {
    text-decoration: none;
    color: black;
    display: inline-flex;
    align-items: center;
    gap: 12px;
}

.help-button .image {
    width: 30px;
   
}

.help-button > div span {
    font-family: "Roboto", sans-serif;
    font-weight: 1.1rem;
    font-weight: 600;
}
